<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:replace="base::layout">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>About New</title>-->
<!--</head>-->
<!--<body>-->
<!--<section>-->
<!--    this is new about page-->
<!--    <p>My name is anupam my name is anupam sharma my name is anupam sharma my name is anupam sharma-->
<!--        my name is anupam sharma my name is anupam sharma-->
<!--    </p>-->
<!--</section>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      th:replace="base::layout(content=${this})">
<head>
    <meta charset="UTF-8">
    <title>About New</title>
</head>
<body>
<section>
    this is new about page
    <p>My name is Anupam Sharma, and this is my about page.</p>
</section>
</body>
</html>
