<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Footer Template</title>
</head>
<body>
<footer th:fragment="footer1(title,subtitle)">
    <div class="container">
        <h1 th:text="${title}"></h1>
        <h1 th:text="${subtitle}"></h1>
        <h1>Has good knowledge of Java</h1>
        <h1>Feel free to contact and work with me</h1>
        <p>Anupam Sharma has a solid background in Java development and a strong interest in expanding his skills in software engineering. He's open to collaboration, eager to take on new challenges, and available for professional opportunities. You can reach out to him for any development or project requirements.</p>
    </div>
</footer>
</body>
</html>
